<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="icon" href="../public/img/crossword_24dp.svg" sizes="any" type="image/svg+xml">

  <link rel="stylesheet" href="../public/css/style.css">



  <title>Un juego simple de palabras</title>
  <header>
    <nav>
      <ul>


        <li>
          <div class="dropdown">
            <p>Opciones</p>
            <div class="contenido">
              <a href="/esp/general">Español</a>
              <a href="/eng/general">English</a>

            </div>


          </div>
        </li>


      </ul>
    </nav>
  </header>




</head>

<body>

  <h1 class="titulo" id="titulo">Palabras!</h1>

  <p class="parrafob">La finalidad es descubrir la palabra en base a una
    definición.Click en 'Opciones' para elegir el idioma y entrar a la pantalla general para empezar a jugar, o
    desde allí también se puede elegir una categoría más específica del
    menú.La idea es que progresivamente se sumen más palabras y opciones. Muchas gracias y disfruten del juego!</p>

  <p class="parrafob">The goal to discover a word based on a given definition.Click on 'Opciones' to choose
    a languaje and have access a general screen where you can start playing, or you can select a specific category from
    the menue.The idea is to progressively add more words and options.Thank you very much and enjoy the game!</p>








  <footer> 2024 - Curtiosibit - curiosibit.blogspot.com </footer>





</body>