<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="../public/img/crossword_24dp.svg" sizes="any" type="image/svg+xml">
    
    <link rel="stylesheet" href="../public/css/style.css">
    
     

    <title>Un juego simple de palabras</title>
    <header>
    <nav>
      <ul>
          <li><div class="dropdown"><p>Opciones</p>
            <div class="contenido">
                <a href="/esp/general">Español</a>
                <a href="/eng/general">English</a> 
              
            </div> 
          

            </div></li>
        
          <li><div class="dropdown"><p>Categorías</p>
              <div class="contenido">
                  <a href="/esp/deportes">Deportes</a>
                  <a href="/esp/geografia">Geografía</a>
                  <a href="/esp/vegetales">Vegetales</a>
                  <a href="/esp/animales">Animales</a>
                  <a href="/esp/instrumentos">Instrumentos</a>
                  <a href="/esp/capitales">Capitales</a>
                 
              </div> 
              <li><a href="/esp/general">Volver</a></li>    

              </div></li>
              
         
      </ul>
  </nav>
</header>




</head>
<body>
 
      <h1 class="titulo" id="titulo"><%= cate %></h1>
     
     
      </div>
      <p id="intento"></p>
      <p id="definicion"></p>
      <canvas> </canvas>
      <div class="keypad">
        <div id ="contenedor"></div>
        <div id ="contenedor1"></div>
        <div id ="contenedor2"></div>
        
      </div>
     
      
      
         
    
       
      <footer> 2024 - Curtiosibit - curiosibit.blogspot.com </footer>
      
      

    
      <img hidden id ="letras" src ="../public/img/blue_spritesheet.png" alt="Letras"/>
   
     
      <div id="data-container" data-json='<%= data %>'></div>
      
      <script src="../public/js/words.js"></script>
    
      
   
</body>